extends ../layouts/default

block content
  - var action = '/articles'
  if (!article.isNew)
    - action += '/'+article.id

  if (typeof errors !== 'undefined')
    .fade.in.alert.alert-block.alert-error
      a.close(data-dismiss="alert", href="javascript:void(0)") x
      ul
        each error in errors
          li= error.type

  form.form-horizontal(method="post", action=action)
    if (!article.isNew)
      input(type="hidden", name="_method", value="PUT")
    
    .control-group
      label.control-label(for='date') Date
      .controls
        input#date.input-xlarge(type='text', name="date", value=article.date, placeholder='Enter Date')
        
    .control-group
      .controls
        input#title.input-xlarge(type='hidden', name="program", value='Lift')

    .control-group
      label.control-label(for='series') Series
      .controls
        input#title.input-xlarge(type='text', name="series", value=article.series, placeholder='Enter the Series Title')

    .control-group
      label.control-label(for='title') Title
      .controls
        input#title.input-xlarge(type='text', name="title", value=article.title, placeholder='Enter the title')
    
    .control-group
      label.control-label(for='desc') Tags
      .controls
        input#tags(type='text', name="tags", value=article.tags, placeholder='Enter the tags')
    
    .form-actions
      button.btn.btn-primary(type='submit') Save changes
      &nbsp;
      a.btn(href='/articles', title="cancel") Cancel
  hr
  .control-group
    label.control-label(for='segments') Segments
    .controls
      table
        tr
          th Go
          th Time
          th Title
          th Edit
        //each segement in segments
        tr
          form(method="post", action="/articles/#{article._id}/segments")
            td
              input(type='text', name="segment_title", value='segement.segment_title', placeholder='Title')
            td 
              input(type='text', name="segment_trt", value='', placeholder='TRT')
            td 
              input(type='text', name="segment_type", value='', placeholder='Type')
            td
              button(type='submit') Add Segment
