extends ../layouts/default

block main
  h1= title
  
block content
  form.signup.form-horizontal(action='/users', method='post')
    h2 General
    
    img(src='../img/profiles/_blank.gif', width='150', height='150')
    
    .control-group
      label.control-label(for='img') Profile Photo
      .controls
        input#img(type='file', name='img')
    
    .control-group
      label.control-label(for='org') Organization
      .controls
        input#org(type='text', name='org', value=user.org)
    
    .control-group
      label.control-label(for='accesskey') Access Key
      .controls
        input#accesskey(type='text', name='accesskey', value=user.accesskey)
        
    .control-group
      label.control-label(for='fname') First name
      .controls
        input#fname(type='text', name='fname', value=user.fname)
        
    control-group
      label.control-label(for='lname') Last name
      .controls
        input#lname(type='text', name='lname', value=user.lname)
  
    .control-group
      label.control-label(for='email') Email
      .controls
        input#email(type='text', name='email', value=user.email)
  
    .control-group
      label.control-label(for='username') Username
      .controls
        input#username(type='text', name='username', value=user.username)
    hr
    h2 Change Password
    .control-group
      label.control-label(for='password') Old Password
      .controls
        input#password(type='password', name='password')
  
    .control-group
      label.control-label(for='password') New Password
      .controls
        input#password(type='password', name='password')
  
    .control-group
      label.control-label(for='password') Confirm New Password
      .controls
        input#password(type='password', name='password')
    hr
    h2 Advanced
    .control-group
      label.control-label(for='pco') Planning Center Online *NOT WORKING*
      .controls
        input#pco(type='text', name='pco', value=user.pco)
  
    .form-actions
      button.btn.btn-primary(type='submit') Save