extends ../layouts/default

block main
  #event 
    #eventDate 
      =event.date
    #eventSeries 
      =event.series
    #eventTitle 
      =event.title
    a(href='#')#eventEdit
      img(src='../img/ico_editRow.png', width='17', height='17').hidable
  #event_edit
    input(type='text', placeholder='date', value=event.date)#input_eventDate.datepicker
    input(type='text', placeholder='series', value=event.series)#input_eventSeries
    input(type='text', placeholder='title', value=event.title)#input_eventTitle
    a(href='#')#eventSave S
    a(href='#')#eventCancel C
     
block content
  #segment_pane
    ul.head
      li.segment Segment
      li.options Options
    ul#body
      each segment in event.segments
        include ../segments/segment
    #controls
      a#btn_addSegment(href='#')
        img(src='../img/btn_addSegment2.png')
      a#btn_addHeader(href='#')
        img(src='../img/btn_addHeader.png', width='46', height='26')
      #pup_addHeader
        a#btn_addHeader_blue(href='#')
          img(src='../img/ico_headerBlue.png', width='18', height='19')
        a#btn_addHeader_green(href='#')
          img(src='../img/ico_headerGreen.png', width='18', height='19')
        a#btn_addHeader_red(href='#')
          img(src='../img/ico_headerRed.png', width='18', height='19')
  #alert_pane
    ul#alertFavs
      - var alertFavs =req.user.alertFavs
      each alertFav in alertFavs
        li.alertFav
          .alertFavText
            =alertFav
          .options
            a.alertFavEdit.alertHidable(href='#')
              img(src='../img/ico_editRow.png', width='17', height='17')
            a.alertFavRemove.alertHidable(href='#')
              img(src='../img/ico_removeRow.png', width='17', height='17')
            span.handle.alertHidable
              img(src='../img/ico_moveRow.png', width='17', height='17')
    #alertInput
      h2 Alert Message
      textarea#inp_alert(type='text')
      p
        a#btn_alert.btn_grey(href='#') Show
      p
        a#btn_alertFav.btn_grey(href='#') Fav
  #call_pane
    p CALL

  #sidebar
    #preview
      #time
      #currentTimer 
      #currentTitle 
    #alerts
      h1 Alerts
      ul#alertList
        if event.currentAlert != ''
          li.alert
            =event.currentAlert
            a(href='#').close n
      #calls
      h1 Calls
  footer
    a#btn_clockPrevious.btn_grey(href='#')
      img(src='../img/btn_prev2.png')
    a#btn_clockNext.btn_grey(href='#')
      img(src='../img/btn_next2.png')
    a#btn_clockReset.btn_grey(href='#')
      img(src='../img/btn_reset2.png')
    a#btn_clockClear.btn_grey(href='#') Clear
    a#btn_mode_list.btn_grey.mode_selected(href='#') List
    a#btn_mode_alert.btn_grey(href='#') Alert
    //a#btn_mode_call.btn_grey(href='#') Call
  #pup_alert
    h1 Delete Segment
    p This action cannot be undone?
    .buttons
      a(href='#').submit yes
      a(href='#').cancel no
    
  script
    var room = '#{event._id}'
    var userId = '#{req.user._id}'
    var current = '#{event.current}'
    var currentStart = '#{event.currentStart}'
  script(type='text/javascript', src='/js/event.js')
  script(type='text/javascript', src='/js/pane_alert.js')
    
    