extends ../layouts/blank
  
block content
  #stage
    .time
      span.actualtime
      span.period
    #currentTimer 
    #currentTitle 
      //= event.segments
    #next NEXT
      span#nextTrt  
      span#nextTitle
    #alert  
    #overlay
    // ul#settings
      a(href='#')#settings DISPLAY VIEWS
      li 
        a(href='#')#btn_timer Timer
      li
        a(href='#')#btn_time Time
      li
        a(href='#')#btn_split Split
  #list
    #head menu 
      .time
        span.actualtime
        span.period
    ul#flow
      each segment in event.segments 
        - if (segment.type != 'red' && segment.type != 'green' && segment.type != 'blue')
          li(id=segment._id)
            .icon
              img(src='../img/ico_'+segment.type+'.png')
            .title 
              = segment.title
            .trt 
              = segment.trt
        - else if (segment.type == 'red')
          li.red.header(id=segment._id)
            .title
              = segment.title
        - else if (segment.type == 'green')
          li.green.header(id=segment._id)
            .title
              = segment.title
        - else if (segment.type == 'blue')
          li.blue.header(id=segment._id)
            .title
              = segment.title
  script
    var room = '#{event._id}'
    var current = '#{event.current}'
    var currentTrt = ''
    var currentStart = '#{event.currentStart}'
    var alert = '#{event.currentAlert}'
  script(type='text/javascript', src='/js/stage.js')
  
    