if (segment)
  li.segment(id=segment._id)
    .segment
      .type
          img(src='../img/ico_'+ segment.type +'.png', width='35', height='35')
      .title
        =segment.title
        //= ' order#: ' + segment.order
      .trt
        =segment.trt
      .options
        a(href='#').rowEdit
          img(src='../img/ico_editRow.png', width='17', height='17').hidable
        a(href='#').rowRemove.hidable
          img(src='../img/ico_removeRow.png', width='17', height='17').hidable
        span.handle.hidable
          img(src='../img/ico_moveRow.png', width='17', height='17').hidable
    .segment_edit
      .type
        input(type='hidden', val=segment.type).input_type
        img(src='../img/ico_'+ segment.type +'.png', width='35', height='35')
        .pup_typeSelector
          types = ["slate", "note", "bible", "mic", "tv", "megaphone"]
          each type, i in types
            if (segment.type == type)
              img(src='../img/ico_#{type}.png', data-type='#{type}').highlight
            else
              img(src='../img/ico_#{type}.png', data-type='#{type}')
      .title.withInput
        input(type='text', value=segment.title, placeholder='Title').input_title
      .trt.withInput
        input(type='text', value=segment.trt, placeholder='Time').input_trt
      .options
        a(href='#').rowSave S
        a(href='#').rowCancel C