if (segment)
  if segment.type == 'red' || segment.type == 'blue' || segment.type == 'green'
    li.header(id=segment._id, rel=segment.order, class=segment.type)
      .header
        .type
          //input(type='hidden', value=segment.type).input_type
          //.pup_typeSelector
            if (segment.type == 'red')
              img(src='../img/ico_headerRed.png', data-type='red').selected
            else
              img(src='../img/ico_headerRed.png', data-type='red')
            if (segment.type == 'blue')
              img(src='../img/ico_headerBlue.png', data-type='blue').selected
            else
              img(src='../img/ico_headerBlue.png', data-type='blue')
            if (segment.type == 'green')
              img(src='../img/ico_headerGreen.png', data-type='green').selected
            else
              img(src='../img/ico_headerGreen.png', data-type='green')
        .title
          =segment.title
        .options.hidable(style='display:none;')
          a(href='#').headerEdit
            i.icon-pencil
          a(href='#').segmentheaderRemove
            i.icon-remove
          span.handle
            i.icon-reorder
  else
    li.segment(id=segment._id, rel=segment.order)
      .segment
        .type
          i(class='icon-'+segment.type, data-type='#{segment.type}')
        .title
          =segment.title
        .rt
          =segment.start - segment.end
        .trt
          =segment.trt
        .options.hidable(style='display:none;')
          a(href='#').segmentEdit
            i.icon-pencil
          a(href='#').segmentheaderRemove
            i.icon-remove
          span.handle
            i.icon-reorder