<div id="question"></div>
<ul id="answers">
  <li id="answer_a">
    <div class="percent"></div>
    <div class="text"><span class="quantity"></span><span class="answer"></span></div>
  </li>
  <li id="answer_b">
    <div class="percent"></div>
    <div class="text"><span class="quantity"></span><span class="answer"></span></div>
  </li>
  <li id="answer_c">
    <div class="percent"></div>
    <div class="text"><span class="quantity"></span><span class="answer"></span></div>
  </li>
  <li id="answer_d">
    <div class="percent"></div>
    <div class="text"><span class="quantity"></span><span class="answer"></span></div>
  </li>
</ul>
<!-- settings pane -->
<div id="pane_settings">
  <div class="row">
    <div class="col-md-4">
      <form class="form-inline" role="form">
        <div class="form-group">
          <input type="text" id="inp_question" class="form-control" placeholder="What is your favorite color?">
          <input type="text" id="inp_answer_a" class="form-control" placeholder="Cyan">
          <input type="text" id="inp_answer_b" class="form-control" placeholder="Magenta">
          <input type="text" id="inp_answer_c" class="form-control" placeholder="Yellow">
          <input type="text" id="inp_answer_d" class="form-control" placeholder="Black">
        </div>
        <div id="editor_buttons" class="form-group"></div>
      </form>
    </div>
    <div class="col-md-4">
      <ul id="list_questions"></ul>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
<nav id="playbar" class="navbar navbar-default navbar-inverse navbar-fixed-bottom" role="navigation">
  <div class="collapse navbar-collapse" id="playbar">
    <ul class="nav navbar-nav navbar-left">
      <li><button type="button" id="btn_question_prev" class="btn btn-default navbar-btn"><i class="fa fa-angle-left"></i></button></li>
      <li><button type="button" id="btn_question_next" class="btn btn-default navbar-btn"><i class="fa fa-angle-right"></i></button></li>
      <li id="lbl_pagination"></li>
      <li>
        <div class="dropdown">
          <button data-toggle="dropdown" class="btn btn-default navbar-btn"><i class="fa fa-caret-up"></i></button>
          <ul id="question_selector" class="dropdown-menu" role="menu" aria-labelledby="dLabel"></ul>
      </li>
      <li><button type="button" id="btn_question_clear" class="btn btn-default navbar-btn"><i class="fa fa-repeat"></i></button></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><button type="button" id="btn_display_url" class="btn btn-default navbar-btn" data-content="http://gameshowhub.com/remote/<%- game_id %>"><i class="fa fa-link"></i></button></li>
      <li><button type="button" id="btn_settings" class="btn btn-default navbar-btn"><i class="fa fa-cog"></i></button></li>
    </ul>
  </div>
</nav><!-- /bottom nav -->
<script type="text/javascript" src="/js/vendor/flot/jquery.flot.js"></script>
<script>
  game_data = <%- JSON.stringify(game_data) %>;
  game_id = <%- game_id %>;
  questions = game_data.questions;
  game_results = <%- JSON.stringify(game_results) %>;
  game_settings = <%- JSON.stringify(game_settings) %>;
  socket.get('/subscribe/'+ game_id, function gotResponse () {
      // we don’t really care about the response
  });
</script>